footer{
    background-color:black;
    color: white;
    padding-top: 10%;
    padding-bottom: 0;
    bottom: 0;
    width: 100%;
    /* height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0; */
}
footer a{
    color: grey;
}
.jumbotron{
    color: white;
    text-align: center;
    background-color: #0cbaba;
background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);

}
#buttons{
    text-align: center;
    padding: 2%;
}
#btn{
    text-align: right;
}
.btn:hover{
background-color: black;

}